* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.texto {
    padding: 60px;
    font-size: 22px;
    color: #3f3f3f;
    text-align: justify;
}

.parallax {
    background-image: url('../img/icons8-food-and-wine-48.png'),
                      url('../img/pasta.jpg');
    background-position: 40px 100px, center center;
    background-repeat: no-repeat, no-repeat;
    background-attachment: scroll, fixed;
    background-size: initial, cover;
    padding: 60px;
    color: white;
    font-size: 40px;
    text-align: center;
}

.parallax2 {
    background-image: url('../img/background-1932466_1920.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 60px;
    color: white;
    font-size: 40px;
    text-align: center;
}

.clip {
    width: 50%;
    margin: 40px auto;
    padding: 40px;
    border: 5px solid orange;
    color: white;
    font-size: 30px;
    text-align: center;
    background-image: url('../img/pasta.jpg');
    background-size: cover;
    background-clip: border-box;
}
