/* @keyframes inicio {
    0% { margin: 0 auto;}
    50% { 
          margin: 300px auto;
          transform: rotate(360deg) rotateY(360deg);
          background-color: white;
          color: violet;
          border: 2px solid violet;
        }
    100% { margin: 0 auto;}
}

.animado {
    margin: 0 auto;
    padding: 15px;
    width: 300px;
    background-color: violet;
    color: white;
    font-size: 30px;
    text-align: center;

}

.animado:hover {
    animation-name: inicio;
    animation-duration: 4s;
    animation-iteration-count: 1;
} */

@keyframes salto {
    0% { position: initial;}
    50% { transform: translate(200px,-300px) rotate(360deg);}
    100% { position: initial;}
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.franja {
    background-color: yellowgreen;
    height: 150px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

img {
    height: 200px;
}

img:hover {
    animation-name: salto;
    animation-duration: 4s;
    animation-iteration-count: 1;
}